html  {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

.fail-message {
    margin: 20px auto 50px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}

.cart {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: black !important;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.nav-link {
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.dropdown-item {
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

.gradient {
    background-image: linear-gradient(15deg, #fceb9b 0%, #f0c6f6 50%, #d475d2 100%);
}

.title-section {
    margin-bottom: 100px;
}

.title {
    margin-top: 250px;
    margin-left: 60px;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
}

.slogan {
    margin-top: 10px;
    margin-left: 60px;
    font-family: 'Nunito Sans', sans-serif;
}

.title-image {
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: 100px;
}

.search-area {
    margin-top: -400px;
    margin-left: 60px;
}

.color-picker {
    margin-top: 20px;
    margin-left: 60px;
}

.color-box {
    height: 25px;
    width: 25px;
    clear: both;
    display: inline-block;
    border: 2px solid black;
    margin: 10px 5px 8px;
    cursor: pointer;
}

.dark-red {
    background-color: darkred;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.gold {
    background-color: #d4af37;
}

.yellow {
    background-color: yellow;
}

.light-yellow {
    background-color: #fff599;
}

.green {
    background-color: green;
}

.light-green {
    background-color: #86DC3d;
}

.mint {
    background-color: #a5ffd6;
}

.dark-blue {
    background-color: darkblue;
}

.blue {
    background-color: blue;
}

.light-blue {
    background-color: lightskyblue;
}

.dark-purple {
    background-color: purple;
}

.purple {
    background-color: #8A5FEC;
}

.lavender {
    background-color: lavender;
}

.neon-pink {
    background-color: deeppink;
}

.coral {
    background-color: lightcoral;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: saddlebrown;
}

.grey {
    background-color: grey;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.results-section {
    margin-top: 150px;
}

.card {
    padding: 30px;
    border: none;
    text-align: center;
    transition: 0.3s;
    width: 40%;
}

.search-results {
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Nunito Sans', sans-serif;
}

.card-title {
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.normal-price {
    margin-right: 5px;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.strike-price {
    color: grey;
    margin-right: 5px;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
}

.new-price {
    margin-right: 5px;
    display: inline-block;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.gradient-btn-search {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    background-image: linear-gradient(15deg, #4ebdfe 0%, #3b52f8 100%);
}

.gradient-btn {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    background-image: linear-gradient(15deg, #4ebdfe 0%, #3b52f8 100%);
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.gradient-btn-2 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    background-image: linear-gradient(15deg, #facaf4 0%, #c263d9 100%);
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (min-width: 1120px) and (max-width: 1200px) {

    .title-image {
        width: 750px;
        height: 500px;
        margin-left: -350px;
        margin-top: 150px;
    }

    .title {
        font-size: 70px;
        font-family: 'Dancing Script', cursive;
    }

    .slogan {
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        margin-top: -350px;
    }

}

@media (min-width: 1000px) and (max-width: 1119px) {

    .title-image {
        width: 750px;
        height: 500px;
        margin-left: -350px;
        margin-top: 150px;
    }

    .title {
        font-size: 70px;
        font-family: 'Dancing Script', cursive;
    }

    .slogan {
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        margin-top: -260px;
    }

}

@media (min-width: 992px) and (max-width: 999px) {

    .title-image {
        width: 650px;
        height: 400px;
        margin-left: -320px;
        margin-top: 100px;
    }

    .title {
        margin-top: 220px;
        font-size: 60px;
        font-family: 'Dancing Script', cursive;
    }

    .slogan {
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        margin-top: -250px;
    }

    .card {
        width: 80%;
        padding: 10px;
    }

}

@media (min-width: 660px) and (max-width: 991px) {

    .fail-message {
        margin-top: -60px;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .title-image {
        width: 650px;
        height: 400px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .title {
        margin-left: 0px;
        margin-top: 80px;
        font-size: 80px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }

    .search-results {
        text-align: center;
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .slogan {
        margin-left: 0px;
        font-size: 20px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -100px;
        margin-left: 0px;
    }

    .color-picker {
        margin-top: 20px;
        margin-left: 0px;
    }

}

@media (min-width: 420px) and (max-width: 659px) {

    .fail-message {
        margin-top: -60px;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .title-image {
        width: 400px;
        height: 250px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .title {
        margin-left: 0px;
        margin-top: 80px;
        font-size: 80px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }

    .slogan {
        margin-left: 0px;
        font-size: 20px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        margin-top: -100px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .search-results {
        text-align: center;
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .color-picker {
        margin-top: 20px;
        margin-left: 0px;
    }

    .results-section {
        margin-top: 50px;
    }

    .card {
        width: 100%;
        padding: 10px;
    }


}

@media (min-width: 395px) and (max-width: 419px) {

    .fail-message {
        margin-top: -60px;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .title-image {
        width: 380px;
        height: 230px;
        margin-top: 10px;
        margin-left: -10px;
        margin-right: auto;
        display: block;
    }

    .title {
        margin-left: 0px;
        margin-top: 80px;
        font-size: 70px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }

    .slogan {
        margin-left: 0px;
        font-size: 20px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        margin-top: -100px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .search-results {
        text-align: center;
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .color-picker {
        margin-top: 20px;
        margin-left: 0px;
    }

    .results-section {
        margin-top: 50px;
    }

    .card {
        width: 100%;
        padding: 10px;
    }


}

@media (min-width: 350px) and (max-width: 394px) {

    .fail-message {
        margin-top: -60px;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .title-image {
        width: 340px;
        height: 190px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .title {
        margin-left: 0px;
        margin-top: 80px;
        font-size: 70px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }

    .slogan {
        margin-left: 0px;
        font-size: 20px;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }

    .search-area {
        margin-top: -100px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .search-results {
        text-align: center;
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .color-picker {
        margin-top: 20px;
        margin-left: 0px;
    }

    .results-section {
        margin-top: 50px;
    }

    .card {
        width: 100%;
        padding: 10px;
    }

}